In [23]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
# loading the datasets
matches = pd.read_csv('IPL_Matches_2008_2022.csv')
data = pd.read_csv('IPL_Ball_by_Ball_2008_2022.csv')

In [25]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [4]:
matches.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [5]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [20]:
data.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [6]:
matches.MatchNumber.value_counts()

Final                 15
36                    15
46                    15
45                    15
44                    15
43                    15
42                    15
41                    15
40                    15
39                    15
38                    15
37                    15
35                    15
22                    15
18                    15
33                    15
19                    15
31                    15
30                    15
28                    15
27                    15
26                    15
21                    15
24                    15
17                    15
48                    15
49                    15
12                    15
1                     15
2                     15
3                     15
4                     15
5                     15
6                     15
8                     15
9                     15
10                    15
50                    15
11                    15
14                    15
15                    15
16                    15
56                    15
55                    15
54                    15
53                    15
52                    15
51                    15
23                    15
13                    14
7                     14
20                    14
34                    14
25                    14
29                    14
32                    14
47                    14
Qualifier 2           10
Qualifier 1           10
Eliminator             9
Semi Final             6
60                     4
68                     4
Qualifier              4
57                     4
58                     4
70                     4
61                     4
69                     4
67                     4
66                     4
59                     4
64                     4
63                     4
62                     4
65                     4
Elimination Final      3
72                     2
71                     2
3rd Place Play-Off     1
Name: MatchNumber, dtype: int64

In [26]:
matches['Venue'] = matches['Venue'].str.strip().str.split(',').str.get(0)

In [27]:
matches['Season'].unique()

array(['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015',
       '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08'],
      dtype=object)

In [28]:
matches['Season'] = matches['Season'].str.strip().str.replace('2009/10','2010')
matches['Season'] = matches['Season'].str.strip().str.replace('2020/21','2020')
matches['Season'] = matches['Season'].str.strip().str.replace('2007/08','2008')

In [29]:
matches['Season'].unique()

array(['2022', '2021', '2020', '2019', '2018', '2017', '2016', '2015',
       '2014', '2013', '2012', '2011', '2010', '2009', '2008'],
      dtype=object)

In [30]:
matches['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [31]:
matches['Team1'] = matches['Team1'].str.strip().str.replace('Rising Pune Supergiants','Rising Pune Supergiant')
matches['Team2'] = matches['Team2'].str.strip().str.replace('Rising Pune Supergiants','Rising Pune Supergiant')
matches['TossWinner'] = matches['TossWinner'].str.strip().str.replace('Rising Pune Supergiants','Rising Pune Supergiant')
matches['WinningTeam'] = matches['WinningTeam'].str.strip().str.replace('Rising Pune Supergiants','Rising Pune Supergiant')
data['BattingTeam'] = data['BattingTeam'].str.strip().str.replace('Rising Pune Supergiants','Rising Pune Supergiant')

matches['Team1'] = matches['Team1'].str.strip().str.replace('Delhi Daredevils','Delhi Capitals')
matches['Team2'] = matches['Team2'].str.strip().str.replace('Delhi Daredevils','Delhi Capitals')
matches['TossWinner'] = matches['TossWinner'].str.strip().str.replace('Delhi Daredevils','Delhi Capitals')
matches['WinningTeam'] = matches['WinningTeam'].str.strip().str.replace('Delhi Daredevils','Delhi Capitals')
data['BattingTeam'] = data['BattingTeam'].str.strip().str.replace('Delhi Daredevils','Delhi Capitals')

matches['Team1'] = matches['Team1'].str.strip().str.replace('Kings XI Punjab','Punjab Kings')
matches['Team2'] = matches['Team2'].str.strip().str.replace('Kings XI Punjab','Punjab Kings')
matches['TossWinner'] = matches['TossWinner'].str.strip().str.replace('Kings XI Punjab','Punjab Kings')
matches['WinningTeam'] = matches['WinningTeam'].str.strip().str.replace('Kings XI Punjab','Punjab Kings')
data['BattingTeam'] = data['BattingTeam'].str.strip().str.replace('Kings XI Punjab','Punjab Kings')

matches['Team1'] = matches['Team1'].str.strip().str.replace('Deccan Chargers','Sunrisers Hyderabad')
matches['Team2'] = matches['Team2'].str.strip().str.replace('Deccan Chargers','Sunrisers Hyderabad')
matches['TossWinner'] = matches['TossWinner'].str.strip().str.replace('Deccan Chargers','Sunrisers Hyderabad')
matches['WinningTeam'] = matches['WinningTeam'].str.strip().str.replace('Deccan Chargers','Sunrisers Hyderabad')
data['BattingTeam'] = data['BattingTeam'].str.strip().str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [32]:
matches['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Rising Pune Supergiant',
       'Gujarat Lions', 'Pune Warriors', 'Kochi Tuskers Kerala'],
      dtype=object)

In [33]:
matches['Team2'].unique()

array(['Gujarat Titans', 'Rajasthan Royals', 'Lucknow Super Giants',
       'Punjab Kings', 'Mumbai Indians', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Chennai Super Kings', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Pune Warriors', 'Kochi Tuskers Kerala'], dtype=object)

In [34]:
matches['method'].unique()

array([nan, 'D/L'], dtype=object)

In [16]:
data.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: int64(9), object(8)
memory usage: 29.3+ MB

In [35]:
matches.Venue.value_counts()

Wankhede Stadium                                       104
Eden Gardens                                            79
MA Chidambaram Stadium                                  67
M Chinnaswamy Stadium                                   65
Rajiv Gandhi International Stadium                      64
Feroz Shah Kotla                                        60
Sawai Mansingh Stadium                                  47
Dubai International Cricket Stadium                     46
Dr DY Patil Sports Academy                              37
Maharashtra Cricket Association Stadium                 35
Punjab Cricket Association Stadium                      35
Sheikh Zayed Stadium                                    29
Sharjah Cricket Stadium                                 28
Brabourne Stadium                                       27
Punjab Cricket Association IS Bindra Stadium            21
Arun Jaitley Stadium                                    18
Subrata Roy Sahara Stadium                              16
M.Chinnaswamy Stadium                                   15
Kingsmead                                               15
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     13
SuperSport Park                                         12
Sardar Patel Stadium                                    12
Saurashtra Cricket Association Stadium                  10
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   9
Zayed Cricket Stadium                                    8
New Wanderers Stadium                                    8
St George's Park                                         7
Narendra Modi Stadium                                    7
Barabati Stadium                                         7
JSCA International Stadium Complex                       7
Newlands                                                 7
Shaheed Veer Narayan Singh International Stadium         6
Nehru Stadium                                            5
Green Park                                               4
Vidarbha Cricket Association Stadium                     3
De Beers Diamond Oval                                    3
Buffalo Park                                             3
OUTsurance Oval                                          2
Name: Venue, dtype: int64

In [36]:
matches.to_csv('IPL_Matches_2022_2008.csv')

In [37]:
# Create a dictionary to map the old values to the new values
over_mapping = {0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11, 
                11: 12,12: 13, 13: 14, 14: 15, 15: 16,16: 17, 17: 18, 18: 19, 19: 20}  # continue the mapping until the maximum over value

# Replace the values in the 'over' column using the map
data['overs'] = data['overs'].replace(over_mapping)

In [9]:
data.head(10)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,1,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,1,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,1,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,1,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,1,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
5,1312200,1,1,6,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
6,1312200,1,2,1,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
7,1312200,1,2,2,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
8,1312200,1,2,3,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,4,0,4,0,0,NaN,NaN,NaN,Rajasthan Royals
9,1312200,1,2,4,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [38]:
data.to_csv('IPL_Ball_by_Ball_2022_2008.csv')